@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600');

html, body {
    padding: 0;
    margin: 0;

    background-color: #212121;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
}

a {
    cursor: pointer;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    75% {
        transform: scale(1.45);
        opacity: 0.75;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.45);
        opacity: 0.75;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}