@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600');

html, body {
    padding: 0;
    margin: 0;

    background-color: #212121;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}