body, html {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    color: #212121;

    animation: coverPage ease-in-out .7s .1s backwards;
}

.content .title {
    width: 100%;
    padding-top: 40px;

    text-align: center;
    animation: scaleIn ease-out .5s 1s backwards;
}

.content hr {
    width: 40%;
    margin: 1em auto;
    border: solid 1px rgba(33, 33, 33, 0.3);

    animation: scaleIn ease-out .3s 1.5s backwards;
}

@keyframes coverPage {
    from {
        transform: translate3d(0, 100%, 0) scale(0);
        border-radius: 50%;
    }
    to {
        transform: translate3d(0, 0, 0) scale(2);
        border-radius: 50%;
    }
}