body, html {
    width: 100%;
    height: 100%;

    animation: whiteBg linear 0s 1s forwards;
}

.content {
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;
    color: #212121;

    animation: coverPage ease-in-out .7s .1s backwards;
}
.content .title {
    width: 100%;
    padding-top: 40px;

    text-align: center;
    animation: scaleIn ease-out .5s 1s backwards;
}
.content hr {
    width: 40%;
    margin: 1em auto;
    border: solid 1px rgba(33, 33, 33, 0.3);

    animation: scaleIn ease-out .3s 1.5s backwards;
}

.projects {
    margin: auto;

    color: #FFFFFF;

    border-spacing: 50px 30px;
    border-collapse: separate;
}
.projects td {
    width: 200px;
    height: 300px;
    padding: 0;

    background-color: #212121;

    cursor: pointer;
    transition: all .3s ease-out;
}
.projects td:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 40px 5px rgba(0, 0, 0, 0.3);
}
.projects td:hover > .thumbnail img:nth-child(2) {
    opacity: 0;
}
.projects td .thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
}
.projects td .thumbnail img {
    position: absolute;
    top: 0;
    display: block;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
}
.projects td .thumbnail img:nth-child(2) {
    background-color: #000000;
    transition: opacity .3s ease-out;
}
.projects td p {
    text-align: center;
    height: 50px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    padding: 5px
}

@keyframes coverPage {
    from {
        transform: translate3d(0, 100%, 0) scale(0);
        border-radius: 50%;
    }
    to {
        transform: translate3d(0, 0, 0) scale(2);
        border-radius: 50%;
    }
}
@keyframes whiteBg {
    to {
        background-color: #FFFFFF;
    }
}
@keyframes scaleUp {
    to {
        transform: scale(1.5);
    }
}
@keyframes scaleDown {
    to {
        transform: scale(1);
    }
}